html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #240802;
}

* {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 100;
}

section {
    min-height: 100vh;
}

.app {
    max-width: 100vw;
    overflow: hidden;
}

.parallax {
}

.parallax-bg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 120%;
    left: -10%;
}

.space {
    position: absolute;
    top: 0;
    height: 100%;
    background-image: url('/img/space.jpg');
    background-position: center bottom;
}

.sand {
    position: absolute;
    bottom: -10%;
    min-width: 1200px;
    min-height: 300px;
}

.intro {
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.logo {
    position: absolute;
    left: 0;
}

.scroll {
    margin-top: 65px;
}

.contact-form {
    display: none;
}

.intro-text {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -50%;
    padding: 0 20%;
}

.intro-heading {
    color: white;
    font-weight: 100;
    font-size: 58px;
    margin-bottom: 50px;
}

.btn {
    background-color: #583363;
    color: white;
    text-decoration: none;
    padding: 18px 32px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 100;
}