html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #13060F;
}

* {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 100;
}

section {
    min-height: 100vh;
    position: relative;
}

.app {
    max-width: 100vw;
    overflow: hidden;
}

.parallax {
}

.parallax-bg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 120%;
    left: -10%;
}


/******************/
/*      GRID      */
/******************/
.one-third {
    display: table-cell;
    width: 1%;
    vertical-align: top;
}
.contact-form .one-third {
    text-align: left;
}
.contact-form .one-third + .one-third {
    padding-left: 30px;
}
.contact-form .one-third label:first-child {
    position: absolute;
    top: -44px;
    white-space: nowrap;
}
@media (max-width: 768px) {
    .lap--one-half {
    }
    .lap--one-whole {
        display: block;
        width: 100%;
        padding-left: 0 !important;
    }
    .lap--one-whole .contact-textarea {
        width: 100%;
        height: 120px;
        box-sizing: border-box;
    }
    .lap--one-whole .contact-textarea + label {
        left: 0;
    }
    .lap--one-half .field:last-child .contact-input, .lap--one-half .field:last-child .contact-select, .lap--one-half .field:last-child .contact-textarea, .lap--one-half .field:last-child .contact-btn {
        margin-bottom: 40px;
    }
    .lap--one-whole:last-of-type .contact-textarea {
        margin-bottom: 0;
    }
}
@media (max-width: 480px) {
    .palm--one-whole {
        display: block;
        width: 100%;
    }
    .contact-form .palm--one-whole + .palm--one-whole {
        padding-left: 0;
    }
    .palm--one-whole .contact-textarea {
        width: 100%;
        height: 120px;
        box-sizing: border-box;
    }
    .palm--one-whole .field:last-child .contact-input, .palm--one-whole .field:last-child .contact-select, .palm--one-whole .field:last-child .contact-textarea, .palm--one-whole .field:last-child .contact-btn {
        margin-bottom: 40px;
    }
    .palm--one-whole .contact-textarea + label {
        left: 0;
    }
}

/******************/
/*  CONTACT FORM  */
/******************/
.back-to-earth {
    margin: 20px 0 0 20px;
}
@media (max-width: 480px) {
    .back-to-earth {
        margin-bottom: 50px;
    }
}
.contact {
    
}
.contact-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    padding: 0 15%;
}
@media (max-width: 480px) {
    .contact-content {
        position: relative;
        top: 0;
        transform: translateY(0);
    }
}
.contact-form {
    color: #834C93;
    text-align: center;
}
.contact-heading {
    margin-bottom: 60px;
    color: #834C93;
    font-size: 42px;
    font-weight: 300;
}
.field {
    position: relative;
}
.contact-label, .contact-input, .contact-select, .contact-textarea, .contact-btn {
    outline: none;
}
.contact-input, .contact-select, .contact-textarea, .contact-btn {
    margin-bottom: 40px;
}
.field:last-child .contact-input, .field:last-child .contact-select, .field:last-child .contact-textarea, .field:last-child .contact-btn {
    margin-bottom: 0;
}
.contact-input, .contact-select, .contact-textarea {
    border-radius: 2px;
    padding: 10px 16px;
    border: 3px solid #834C93;
}
.contact-input:focus, .contact-select:focus, .contact-textarea:focus {
    border-color: #EF8934;
}
.contact-input:focus + label, .contact-select:focus + label, .contact-textarea:focus + label {
    color: #EF8934;
}
.contact-input, .contact-select, .contact-textarea {
    width: 100%;
}
.contact-label {
    margin-bottom: 4px;
    position: absolute;
    left: 0;
    top: -1.5em;
}
.contact-input {
    box-sizing: border-box;
}
.contact-select {
    height: 40px;
}
.contact-textarea {
    width: 90%;
    height: 100%;
}
.contact-textarea + label {
    left: 30px;
}
.btn.contact-btn {
    float: none;
    margin-top: 40px;
    padding-left: 60px;
    background-image: url(/img/spaceship.png);
    background-position: 20px 60%;
    background-repeat: no-repeat;
}
.space {
    position: absolute;
    top: 0;
    height: 100%;
    background-image: url('/img/space.jpg');
    background-position: center bottom;
}

.sand {
    position: absolute;
    bottom: -10%;
    min-width: 1200px;
    min-height: 300px;
}

.intro {
    text-align: center;
}

.logo {
    position: absolute;
    left: 0;
}

.scroll {
    margin-top: 65px;
}

.social {
    margin: 10px 0;
    clear: both;
}

.contact-form {
    display: none;
}

.intro-content {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -50%;
    padding: 0 20%;
}
@media (max-width: 480px) {
    .intro-content {
        position: relative;
        top: auto;
        left: auto;
        margin-left: 0;
        padding-top: 220px;
        padding-bottom: 220px;
    }
}

.intro-heading {
    margin-bottom: 50px;
    color: white;
    font-size: 58px;
    font-weight: 100;
}

.btn {
    background-color: #583363;
    border: 2px solid #583363;
    color: white;
    text-decoration: none;
    padding: 18px 32px;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 100;
    display: inline-block;
}
.btn:hover {
    cursor: pointer;
}
.btn:hover, .btn:focus {
    /*border-color: #EF8934;*/
}

.cushion {
    width: 2em;
    display: inline-block;
}

.fb_iframe_widget {
    position: relative;
    top: -4px;
}

@media (max-width: 768px) {  
    .no-mobile {
        display: none;
    }
}
